[log]
location = "./healing.log"
[mysql]
dbName = "healing2021"
user = "root"
password = ""
port = "127.0.0.1:3306"

# redis db设置为0,请确认服务器redis.conf的redisdb个数
[redis]
addr = "127.0.0.1:6379"
db = "0"
[start]
port = ":10087"
[debug]
debug = "true"
# 根据文件配置跳转域名
[domain]
url=
testUrl=